      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(125, 29, 29);
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #6b2323;
        -webkit-box-shadow: inset 0 0 6px rgba(34, 24, 24, 0.7);
      }

      body {
        font-family: "Poppins", sans-serif;
        overflow: auto;
        padding: 0%;
        margin: 0%;
      }

      .carousel-inner img {
        width: 100%;
        height: 100%;
      }

      .carousel-item img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        display: block;
      }

      @media only screen and (min-width: 768px) and (max-width: 1590px) {
        .card {
          display: flex;
          flex-direction: row;
        }
      }

      .user-pic {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 100%;
        margin: 20px auto 20px;
        border-left: 3px solid #ddd;
        border-right: 3px solid #ddd;
        border-top: 3px solid #007bff;
        border-bottom: 3px solid #007bff;
        transform: rotate(-30deg);
        transition: 0.5s;
      }
      .card-box:hover .user-pic {
        transform: rotate(0deg);
        transform: scale(1.1);
      }
      .card-box {
        padding: 15px;
        background-color: #fdfdfd;
        margin: 20px 0px;
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 0px 0px 8px 0px #d4d4d4;
        transition: 0.5s;
      }
      .card-box:hover {
        border: 1px solid #007bff;
      }
      .card-box p {
        color: #808080;
      }
      footer {
        background-color: rgba(44, 62, 80, 1);

        width: 100%;
        bottom: 0;
        font-weight: lighter;
        color: white;
      }
      .footerHeader {
        width: 100%;
        padding: 1em;
        background-color: rgba(52, 73, 94, 1);
        text-align: center;
        color: white;
      }
      footer h3 {
        font-weight: lighter;
      }
      footer ul {
        padding-left: 5px;
        list-style: none;
      }
      footer p {
        text-align: justify;
        font-size: 12px;
      }
      footer iframe {
        width: 100%;
        position: relative;
        height: 170px;
      }
      .sm {
        list-style: none;
        overflow: auto;
      }
      .sm li {
        display: inline;
        padding: 5px;
        float: left;
      }
      .sm li a img {
        width: 32px;
      }
      @media only screen and (min-width: 767px) and (max-width: 1090px) {
        .foooter {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    